.footer {
    background-image: url(../img/bg.jpg);
}

.footer__body {
    display: flex;
    flex-direction: row;
    gap: 5vw; 
    padding: 50px 0;
}

.footer__contact {
    display: flex;
    flex-direction: column;
    width: 40vw;
}

.number__container-footer {
    justify-content: start;
}

.footer__number-title {
    color: #fff;
}

.footer__contact-container {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    padding: 50px;
}

.footer__block {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.footer__contact-img {
    margin: auto 0;
    width: 24px;
    height: 24px;
}

.contact__title {
    line-height: 20px;
    font-weight: 500;
}

.contact__context  {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: #A9A9AA;
}

.contact__context:hover {
    color: #FE390C;
}

.link__block {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    justify-content: start;
    position: relative;
    padding: 0 50px;
}

.footer__comment {
    width: 60%;
}

.title__block {
    max-width: 95%;
    display: flex;
    flex-direction: row;
    gap: 4px;
    padding-top: 45px;
    border-bottom: 1px solid rgba(202, 205, 209, 0.10);
    padding-bottom: 24px;
}

.comment__title {
    font-family: 'Anton', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    color: #FE390C;
}


.comment__first-block {
    display: flex;
    flex-direction: row;
    padding: 40px 0;
}

.comment__block-one,
.comment__block-two {
    width: 45%;
}

.comment__block-three {
    width: 100%;
}

.title__comment-name {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    padding-bottom: 12px;
}

.input__form {
    border: none;
    background: rgba(202, 205, 209, 0.10);
    background-clip: padding-box;
    padding-left: 1.5vw;
}

.input__form-small {
    width: 95%;
    height: 5vh;
    color: #fff;
    font-size: 10px;
}

.input__form-big {
    padding: 15px 15px ;
    color: #fff;
    max-width: 88%;
    font-size: 10px;
}

.footer__btn {
    width: 30%;
}

.footer__bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4px;
}

.bottom__text {
    padding: 30px 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.comment__block-three {
    padding-bottom: 30px;
}

@media (max-width: 1230px) {

    .comment__title {
        text-align: center;
    }

    .footer__contact-container {
        padding: 50px 0;
    }

    .link__block  {
        padding: 0;
    }


@media (max-width: 1024px) {

    /* .input__form-small {
        width: 80%;
        height: 5vh;
        color: #fff;
    } */
}

}

@media (max-width: 768px) {

    .footer__body {
        align-items: center;
        flex-direction: column;  
        padding-bottom: 0;  
    }

    .footer__block {
        gap: 2vh;
    }

    .footer__comment{
        width: 90%;
    }

    .input__form-big {
        width: 100%;
    }

    .footer__btn {
        margin: 0 36%;
    }

    .bottom__text {
        font-size: 10px;
    }

}

@media (max-width: 678px) {

    .comment__first-block {
        flex-direction: column;
        gap: 2vh;
        padding: 40px 0 15px;
    }

    .input__form-small {
        width: 120%;
    }

    .input__form-big {
        width: 100%;
    }

}