.link {
    background-color: #F7F7F7;
}

.link__inner  {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    column-gap: 5%;
    padding: 90px 0 190px 0;
}


@media (max-width: 1024px) { 

    .link__inner  {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 45%;
    }
    
    .link__svg-five,
    .link__svg-four {
        left: 60%;
        position: relative;
    }

}

@media (max-width: 678px) {

    .link__inner  {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 5vh;
    }


    .link__svg-five,
    .link__svg-four {
        left: 0;
        position: relative;
    }

}