@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@500;600;700&display=swap');

*, *::after, *::before  {
    box-sizing: border-box;
}

/* font-family: 'Anton', sans-serif;
font-family: 'Montserrat', sans-serif; */

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    object-fit: cover;
}

.btn {
    border: 1px solid #FE390C;
    border-radius: 4px;
    width: 7vw;
    height: 4vh;
    cursor: pointer;
} 

.button__left-or-right {
    display: flex;
    gap: 2vw;
}

.button-left,
.button-right {
    border: none;
    border-radius: 2px;
    background-color: #FE390C;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.number {
    color: #FE390C;
    font-family: 'Anton', sans-serif;
    font-size: 80px;
    line-height: 120px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

.number__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
}

.number__title {
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    color: #111214;
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    background-image: url(../img/header-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    position: relative;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    padding-top: 3vh;
}

/* .logo {
    justify-content: center;
} */

.header__nav {
    display: flex;
    align-items: center;
    gap: 4vw;
    padding: 0 19.7vw;
}

.header__nav-item  {
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
}

.header__nav-item:hover {
    color: #FE390C;
}

.header__btn {
    background-color: inherit;
}

.header__btn-text {
    text-transform: uppercase;
    color: #FE390C;
}

.home__inner {
    display: flex;
    flex-direction: row;
    margin-top: 30%;
    gap: 28vw;
    align-items: center;
}

.home__content {
    display: flex;
    gap: 12px;
    flex-direction: column;
}

h5 {
    font-size: 24px;
    color: #FE390C;
}

.home__title {
    font-family: 'Anton', sans-serif;
    font-size: 130px;
    font-weight: 400;
    line-height: 154px;
    text-transform: uppercase;
}

.home__btn {
    background-color: #FE390C;
    color: #fff;
    margin-top: 12px;
}

.home__link {
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
}

.home__link-item {
    border-radius: 50%;
    background-color:rgba(255, 255, 255, 0.10);
    width: 3vw;
    height: 5vh;
}

.home__link-img {
    /* width: 22.4px;
    height: 22.4px; */
    max-width: 100%;
}

.about__inner {
    display: flex;
    gap: 9vw;
    padding: 15vh 0;
}

.about__section {
    flex-direction: column;
    gap: 5vh;
    color: #111214;
}

.about__img {
    /* width: 50%; */
    max-width: 230px;
}

.about__location {
    display: flex;
    flex-direction: row;
}

.about__number {
    color: #FE390C;
    font-family: 'Anton', sans-serif;
    font-size: 64px;
    font-weight: 400;
    line-height: 96px;
    text-transform: uppercase;
    letter-spacing: 1.28px;
}

.about__title {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    margin: auto 12px;
}

.about__number-one {
    margin-right: 24px;
}

.about__text {
    color: #A9A9AA;
    font-size: 14px;
    font-weight: 500;
    line-height: 32px;
}

.link {
    background-color: #F7F7F7;
}

.link__inner  {
    display: flex;
    justify-content: center;
    gap: 8vw;
    padding: 90px 0 190px 0;
}

.together__inner {
    display: flex;
    flex-direction: column;
    background-image: url(../img/together-bg.jpg);
    padding: 70px 0;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    margin-top: -100px;
}

.together__title {
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 60px;
}

.together__btn {
    background: #FE390C;
}

.together__btn-text {
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
}

.download__container {
    display: flex;
    flex-direction: row;
    font-weight: 600;
    font-size: 14px;
    color: #A9A9AA;
    gap: 0.5vw;
    cursor: pointer;
}

.service {
    padding: 80px 0;
}


.service__inner {
    display: flex;
    flex-direction: column;
}

.service__number-container {
    margin-bottom: 50px;
}

.number__title {
    margin: auto 0;
}

.service__card {
    display: flex;
    flex-direction: row;
    gap: 4vw;
}

.service__card-item {
    background-color: #F7F7F7;
    width: 21vw;
    padding: 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 4px;
}

.service__card-item:hover {
    background-color: #FE390C;
}

.service__svg {
    margin-top: 2vh;
    margin-bottom: 1vh;
}

.service__svg path {
    fill: #111214;
    transition: fill 0.3s;
}

.service__svg path:hover {
    fill: #fff;
}

.card__title {
    color: #111214;
}

.card__title:hover {
    color: #fff;
}

.card__text {
    color: #A9A9AA;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}

.card__text:hover {
    color: #fff;
}

.portfolio {
    background-color: #F7F7F7;
}

.portfolio__top {
    display: flex;
    flex-direction: row;
    padding: 70px 0;
    align-items: center;
    gap: 9vw;
}

.portfolio__nav {
    display: flex;
    gap: 2vw;
}

.portfolio__nav-btn {
    border: 1px solid #FE390C;
    border-radius: 4px;
    padding: 12px 16px;
    cursor: pointer;
}

.portfolio__nav-btn__text {
    color: #FE390C;
}

.portfolio__nav-item {
    color: #A9A9AA;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 14px;
    margin: auto;
    cursor: pointer;
}

.portfolio__number-container {
    justify-content: start;
}

.portfolio__carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 35px 100px 35px;
}

.carousel__btn {
    top: 35%;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 46px;
    background-color: rgba(254, 57, 12, 0.5);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    position: absolute;
    transform: translateY(-50%);
}

.carousel__btn:first-child {
    left: 13px;
    display: none;
}

.carousel__btn:last-child {
    right: 13px;
}

.portfolio__carousel  
.carousel {
    white-space: nowrap;
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    scroll-behavior: smooth;
}

.carousel.dragging {
    cursor: grab;
    scroll-behavior: auto;
}

.carousel.dragging img {
    pointer-events: none;
}

.carousel__img {
    height: 250px;
    object-fit: cover;
    width: calc(100% / 3);
    margin-left: 14px;
}

.carousel__img:first-child {
    margin-left: 0px;
}

.testimonial__inner {
    display: flex;
    flex-direction: row;
    padding: 120px 0;
    gap: 8vw;
}

.number__container-testimonial {
    justify-content: start;
}

.testimonial__img {
    max-width: 350px;
}

.quote__container {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    min-height: 220px; 
}

.quote__text {
    font-size: 14px;
    font-weight: 500;
    line-height: 32px;
    color: #111214;
    padding-right: 20vw;
}

.author {
    padding-top: 30px;
    color: #FE390C;
}

.job__title {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #A9A9AA;
    padding-bottom: 25px ;
}

.testimonial__btn {
    justify-content: flex-end;
}

.hidden {
    display: none;
}

.footer {
    background-image: url(../img/bg.jpg);
}

.footer__body {
    display: flex;
    flex-direction: row;
    gap: 5vw; 
    padding: 50px 0;
}

.footer__contact {
    display: flex;
    flex-direction: column;
    width: 40vw;
}

.number__container-footer {
    justify-content: start;
}

.footer__number-title {
    color: #fff;
}

.footer__contact-container {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    padding: 50px 0;
}

.footer__block {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.footer__contact-img {
    margin: auto 0;
    width: 24px;
    height: 24px;
}

.contact__title {
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 9px ;
}

.contact__context  {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: #A9A9AA;
}

.link__block {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    justify-content: start;
    position: relative;
}

.link__item {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.10);
    width: 42px;
    height: 42px;
    cursor: pointer;
}

.link__item-svg {
    display: block;
    margin: 8px 10px;
}

.footer__comment {
    width: 60vw;
}

.title__block {
    display: flex;
    flex-direction: row;
    gap: 4px;
    padding-top: 45px;
    border-bottom: 1px solid rgba(202, 205, 209, 0.10);
    padding-bottom: 24px;
}

.comment__title {
    font-family: 'Anton', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    color: #FE390C;
}


.comment__first-block {
    display: flex;
    flex-direction: row;
    padding: 40px 0;
    gap: 2vw;
}

.comment__block-one,
.comment__block-two {
    width: 45%;
}

.comment__block-three {
    width: 100%;
}

.title__comment-name {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    padding-bottom: 12px;
}

.input__form {
    border: none;
    background: rgba(202, 205, 209, 0.10);
    background-clip: padding-box;
    padding-left: 1.5vw;
}

.input__form-small {
    min-width: 20vw;
    height: 5vh;
    color: #fff;
}

.input__form-big {
    padding: 5px 15px ;
    color: #fff;
}

.footer__btn {
    width: 10vw;
}

.footer__bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4px;
}

.bottom__text {
    padding: 30px 0;
}

.bottom__text-one,
.bottom__text-three {
    color: #A9A9AA;
}

.bottom__text {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.comment__block-three {
    padding-bottom: 30px;
}

@media (max-width: 1230px) {
    .container {
        margin: 0 8vw;
    }

    .comment__title {
        text-align: center;
    }
}

@media (max-width: 1024px) { 
    .btn {
        width: 15%;
    }

    .header__nav {
        padding: 0 16vw;
    }

    .home__btn {
        width: 25%;
    }


    .portfolio__nav {
        gap: 1vw;
    }

    .portfolio__nav-item {
        text-align: center;
    }

    .portfolio__top {
        gap: 2vw;
    }

}

@media (max-width: 768px) {
    .home__inner {
        gap: 28%;
    }

    .about__inner {
        flex-direction: column;
        align-items: center;
    }

    .about__location {
        justify-content: center;
    }

    .about__text {
        text-align: center;
    }

    .together__title {
        text-align: center;
    }

    .together__btn {
        width: 15vw;
    }

    .service__card {
        flex-direction: column;
        align-items: center
    }

    .service__card-item {
        width: 35vw;
    }

    .portfolio__top {
        flex-direction: column;
    }

    .portfolio__nav {
        margin-bottom: 15px;
    }

    .testimonial__inner {
        flex-direction: column;
        align-items: center;
    }

    .number__container-testimonial {
        justify-content: center;
    }

    .footer__body {
        align-items: center;
        flex-direction: column;    
    }

    .input__form-big {
        width: 52vw;
    }

    .footer__btn {
        margin: 0 30%;
    }
}

@media (max-width: 678px) {
    .header__container {
        flex-direction: column;
        align-items: center;
        gap: 2vh;
    }

    .home__inner {
        flex-direction: column;
    }
}

@media (max-width: 480px) {

}

@media (max-width: 320px) {

}